*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
*.mlast
*.mliast
.vscode
.merlin
.DS_Store
.merlin
.bsb.lock
.idea
npm-debug.log
/lib/bs/
/node_modules/
**/*.bs.js
/build/
/dist/
coverage
stats.json
/app/www/

*.log
