$font-size-small: 1rem;
$font-size-medium: 2rem;
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;
$font-default: 'Open Sans', sans-serif;
$font-header: 'OrkneyRegular', sans-serif;
$lineheigh: 1.8em;

$bg-grey: #eaeaea;
$bg-grey-hover: #d1d1d1;
$bg-color1: #2d506d;
$bg-color2: #23a399;
$bg-color2-dark: #14918a;
$text-white: white;
$text-color1: #2d506d;
$text-color2:#23a399;
$text-color2-hover:#18837a;
$text-color2-light: #a4dad4;
$border-grey: #eaeaea;

$bg-gradient1: linear-gradient( #2d506d 70%, #1b4059);
$bg-gradient2: linear-gradient( #52c4bb , #14918a);
$bg-gradient-white: linear-gradient( #ffffff 70% , #dedede);

$border-default: solid 2px;
$border-radius: 8px;

$text-shadow: 2px 2px 2px grey;

$transition: all 0.3s ease-out;

$header-height: 50px;
$frontpage-section-img-height: 350px;
$frontpage-section-height: 300px;
$scrollbar-width: 0.5vw;
$section-header-height: 130px;

html, body, body>div, body>div>div {
  min-height: 100vh;
  width: 100vw;
  height: 100%;
}
html {
  font-size: 14px;
  color: $text-color1;
  font-family: $font-default;
  font-weight: $font-weight-normal;
  line-height: $lineheigh;
}
* {
  padding: 0;
  margin: 0;
  font-family: $font-default;
  font-weight: $font-weight-normal;
  line-height: $lineheigh;
}

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }
h1, h2, h3, h4, h5, h6, pre {
  color: $text-color1;
  font-family: $font-header;
  font-weight: $font-weight-bold;
  line-height: 1.4em;
}
p {
  color: $text-color1;
}
a {
  text-decoration: none;
  color: inherit;
}

.btn {
  border-radius: $border-radius;
  padding: 8px;
  min-width: 100px;
  border: $border-default;
  transition: $transition;
  margin: 20px auto;
}
@mixin btn($btn-bg-color, $btn-border-color, $btn-text-color) {
  background-color: $btn-bg-color;
  border-color: $btn-border-color;
  color: $btn-text-color;
}
.btn-line-color1 { @include btn(transparent, $bg-color1, $bg-color1) }
.btn-line-color1:hover { @include btn($bg-color1, $bg-color1, $text-white) }
.btn-line-color1.inactive {
  opacity: 0.5;
  cursor: default;
}
.btn-line-color1.inactive:hover {
  @include btn(transparent, $bg-color1, $bg-color1);
  cursor: default;
}
.btn-line-white { @include btn(transparent, $text-white, $text-white) }
.btn-line-white:hover { @include btn($text-white, $text-white, $bg-color1) }
.btn-solid-color2 { @include btn($bg-color2, $bg-color2, $text-white) }
.btn-solid-color2:hover { @include btn(#1a7d76, #1a7d76, $text-white) }
.btn-solid-color1 { @include btn($bg-color1, $bg-color1, $text-white) }
.btn-solid-color1:hover { @include btn(#1d364b, #1d364b, $text-white) }

.input-default {
  border-radius: $border-radius;
  padding: 8px;
  min-width: 100px;
  border: $border-default;
  border-color: $border-grey;
  transition: $transition;
}
.inputtext {
  p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 0.9rem;
    width: 100%;
  }
  .input-default {width: 100%;}
  margin-bottom: 10px;

}
/* ------------- Default Classes ------------- */

.-text-small { font-size: .7em; }
.-text-small-title { font-size: 0.9em;}
.-text-center { text-align: center; }
.-text-right { text-align: right; }
.-text-left { text-align: left; }
.-font-weight-bold { font-weight: $font-weight-bold; }
.-text-underline { text-decoration: underline; }
.-text-underline-none { text-decoration: none; }
.-text-uppercase { text-transform: uppercase; }
.-lineheight-large { line-height: 2em; }
.-lineheight-small { line-height: 0em; }
.-border-radius { border-radius: $border-radius; }
.-bg-grey { background-color: $bg-grey; }
.-bg-color1 { background-color: $bg-color1}
.bg-gradient-color1 { background: $bg-gradient1; }
.bg-gradient-color2 { background: $bg-gradient2; }

.-boxshadow {
    box-shadow: 2px 2px 12px 0px #cecece;
    box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.2);
}
.-text-header-shadow{
  text-shadow: 5px 5px 13px #4e4e4e;
}

.text-white { color: $text-white; }
.text-color1 { color: $text-color1 !important; }
.text-color-2 { color: $text-color2; }
.link.text-color-2:hover {color: $bg-color2-dark}
.letter-spacing { letter-spacing: 0.1em; }

.icon svg {
  height: 35px;
}
.icon-bag svg, .icon-clock svg {
  height: 40px ;
}

ul li {
  list-style-type: none;
  color: $text-color1;
  line-height: 2em;
}
ul.ul-li-dash li:before {
  content: "- ";
}

.hidden-lg-up {display: none;}

a:hover { text-decoration: none; }

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page-content-container {
  overflow: auto;
  flex: 1;
}

/* ------------- Bootstrap Elements --------------*/

.container {
  padding-left: 60px;
  padding-right: 60px;
}
/* -------------- Project Elements ----------------*/

.image-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* scrollbar width */
// .page-content-container {
//   overflow-x: hidden !important;
//   width: 100vw;
// }
// .main-content { width: 100vw; }
::-webkit-scrollbar {
  width: $scrollbar-width;
  background-color: white;
  z-index: 99;
}
::-webkit-scrollbar-track-piece  {
  width: 0;
}
::-webkit-scrollbar-thumb:vertical {
    border-radius: $border-radius;
    background-color: grey;
}
.section-header {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  z-index: -10;
  position: relative;
  margin-top: -1px;
  height: $section-header-height;
  h1 { padding: 20px; }
  .nav {
    background: unset;
  }
}
/* ------------- Page 404 ------------- */
.page404 .main-content .content {
  word-wrap: break-word;
  text-align: center;
  min-height: calc(100vh - 130px - 150px);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  .mobile {
    display: none;
  }
  @media screen and (max-width: 768px) {
    .mobile {
      display: block;
    }
    .desktop {
      display: none;
    }
  }
  h2.text-404 {
    font-size: $font-size-medium + 1rem;
  }
  h2.go-home {
    font-size: $font-size-small + 0.5rem;
  }
  div {
    display: flex;
    flex-wrap: wrap;
  }
  * {
    margin: 0 auto;
  }
  a.link.logo-link {
    width: 130px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 25px;
  }
  a.link.logo-link:hover {
    h2.go-home {
      color: white;
    }
  }
}

/* ------------- Navigation Bar ------------- */

.nav {
  width: 100vw - $scrollbar-width;
  padding: 8px 15px;
  box-sizing: border-box;
  z-index: 99;
  height: $header-height;
  background: $bg-color1;
}
nav.nav {
  display: block;
}
.nav a {
  padding: 7px 28px;
  display: inline-flex;
  transition: $transition;
  cursor: pointer;
  font-weight: $font-weight-medium;
  color: $text-white;
  font-family: $font-header;
  flex-direction: column;
  align-items: center;
}
.nav a span {
  font-weight: $font-weight-medium;
  color: $text-white;
  font-family: $font-header;
}
.nav .nav-container > div {
  display: inline-block;
}
.nav .btn {
  margin-top: 0;
  margin-bottom: 0;
}
nav .logo-link {
  height: $header-height - 5px;
  margin-top: -0.2em;
  float: left;
  padding: 0;
  .logo {
    height: $header-height - 5px;
  }
}
.-logo-white {
  max-height: 5em;
}
.logo-small {
  display: none;
}
.nav-container {
  background: transparent;
  z-index: 200;
  transition: all 0.4s ease 0.1s;
  overflow: hidden;
  box-sizing: border-box;
}
.nav-container-loggedin {
  padding-top: 0.5em;
}
.nav a::after, .btn-drop::after {
  content: "";
}
/* ------ Navigation Link Animation ------ */

.nav a:hover, .btn-drop:hover {
  cursor: pointer;
  text-decoration: none;
}
.nav a:not(.logo-link):not(.btn)::after, .btn-drop::after {
  background: $text-white;
  height: 1.5px;
  margin-top: 1.5px;
  width: 0;
  /* content: ""; hiding animation for now */
  display: block;
  box-shadow: $text-shadow;
  transition: $transition;
 }
 .nav a:not(.btn):hover::after, .btn-drop:hover::after {
  width: 35px;
}
/* ----- Amazing Nav Icon Toggle Animation ------*/

.nav-icon {
  /* display: inline-block; */
  display: none;
  width: 2.4em;
  height: 2.4em;
}
.nav-icon div {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: $text-white;
  margin: 5px 0;
  transition: 0.4s;
}
.nav input {
  width: 40px;
  height: 3em;
  position: absolute;
  z-index: 1;
  opacity: 0;
  right: 20px;
  cursor: pointer;
}
.nav input:checked ~ div div:nth-child(1) {
  transform: rotate(45deg) translate(7px,7px);
}
.nav input:checked ~ div div:nth-child(2) {
  transform: rotate(-45deg);
}
.nav input:checked ~ div div:nth-child(3) {
  height: 0;
}
/*------------------------- Footer -----------------------*/
.footer {
  width: 100%;
  height: 150px;
  background-color: $bg-color2-dark;
  text-align: center;
  margin-top: -1px;
  p { color: #78D1C7;}
}
.icon-social img{
  height: 5%;
  max-height: 40px;
  margin: 40px 10px 20px 10px;
  display: inline;
  transition: $transition;
}
.icon-social:hover img {
  opacity: 0.5;
}
.icon-social img:hover{
  transform: rotate(360deg) scale(1.3);
  transition: 0.7s;
}
/* ------------------------------------ PAGES -----------------------------------*/
/* ------------ Home Page ------------ */
/* spectial Home Page Nav */
.page-end-top {
  z-index: 99;
  position: fixed;
}
.page-home {
  .page-end-top {
    position: absolute;
  }
  .nav {
    background: transparent;
    a:not(.logo-link) {
      text-shadow: $text-shadow;
    }
  }
}
.homepage_menu-bg {
  height: $header-height;
  margin-top: - $header-height;
  width: 100%;
  background: $bg-color2;
  position: sticky;
  top: 0;
  z-index: 1;
}
.hero {
  /* Remove background styling when replace with the real codes */
  //background-image: url('../public/static/images/hero-placeholder.png');
  background-color: #469FA3;
  background-size: cover;

  height: 100vh;
  min-height: 480px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  /* For Nav Menu Background */
  z-index: 2;
  position: relative;
  transition: ease 1s;

  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;


  .container {
    max-width: 600px;
    margin-left: 50px;
    animation: slidFromLeft ease 1.5s;
    -webkit-animation: slidFromLeft ease 1.5s;
    -moz-animation: slidFromLeft ease 1.5s;
    -o-animation: slidFromLeft ease 1.5s;
    -ms-animation: slidFromLeft ease 1.5s;
  }
  h1 {
    text-transform: uppercase;
    color: $text-white;
    text-shadow: $text-shadow;
    transition: $transition;
  }
  p {
    color: $text-white;
    text-shadow: $text-shadow;
    transition: $transition;
  }
  .btn {
    @include btn(transparent, $text-white, $text-white);
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 5px;
    transition: $transition;
  }
  .btn:hover {@include btn($text-white,$text-white,$bg-color1);}

  .dots {
    position: absolute;
    height: 20px;
    bottom: 50px;
    width: 100%;
    text-align: center;
    .dot {
      display: inline-block;
      cursor: pointer;
      margin-left: 10px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #686163;
    }
    .active {
      background-color: #ffffff !important;
    }
  }
}
.hero.ball, .hero.network {
  background-color: white;
  h1, p {color: $bg-color1;}
  .btn {@include btn(transparent, $bg-color1,  $bg-color1);}
  .btn:hover {@include btn($bg-color1, $bg-color1, $text-white);}
}
.webgl-fade-in {
  animation: fadeIn ease 0.2s;
  -webkit-animation: fadeIn ease 0.2s;
  -moz-animation: fadeIn ease 0.2s;
  -o-animation: fadeIn ease 0.2s;
  -ms-animation: fadeIn ease 0.2s;
}
.webgl-fade-out {
  animation: fadeOut ease 0.5s;
  -webkit-animation: fadeOut ease 0.5s;
  -moz-animation: fadeOut ease 0.5s;
  -o-animation: fadeOut ease 0.5s;
  -ms-animation: fadeOut ease 0.5s;
  opacity: 0 !important;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@keyframes slidFromLeft {
  0% {
    margin-left: -500px;
  }
  100% {
    margin-left: 50px;
  }
}

.section-ourgoal {
  .image-background {
    height: 80px;
    background-size: contain;
  }
}
.frontpage-section {
  background: $bg-gradient1;
  overflow: visible;
  > div {
    padding: 0 60px;
    width: 100vw;
    margin: auto;
    max-width: 1200px;
  }
  .row { justify-content: space-between; }
  .image-background {
    width: 100%;
    height: 130%;
    min-height: 215px;
    min-width: 215px;
    background-size: contain;
    background-position: 50% 0;
    position: relative;
    top: -15px;
    margin: auto;
  }
  h4 {
    text-transform: uppercase;
    color: $text-white;
  }
  .content { color: $text-color2-light; }
  .btn {
    @include btn(transparent, $text-color2-light, $text-color2-light);
    padding-right: 40px;
    padding-left: 40px;
  }
  .btn:hover { @include btn( $text-color2-light , $text-color2-light, $text-color1); }
}
.popup-closed {
  pointer-events: none;
}
.popup-closed .popup-backing {
  background: #00000000;
  max-height: 0;
}
.popup-closed .popup {
  max-height: 0;
}
.popup-open .popup {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 20px;
}
.popup {
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  z-index: 1;
  border-radius: 5px;
  padding: 0;
  transition: 0.1s;
}
.popup-content{max-width: 100%;}
.popup-backing {
  background: rgba(0,0,0,0.3);
  overflow: hidden;
  max-height: 100%;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}
.popup-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.popup-x {
  font-family: $font-header;
  cursor: pointer;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}
.popup-open .popup-x {
  position: absolute;
}
// Build your idea popup
.buildyouridea-popup {
  p {
    color: $text-color1;
    text-shadow: none;
  }
  .popup {
    width: 90%;
    height: 90%;
  }
  .popup-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    height: 100%;
    >* {
      width: 45%;
    }
  }
  .popup-x { right: calc(5% + 20px);}
}
.contactform-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.contactform {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  >* {flex-grow: 0}
  >.inputtext-textarea {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    p {flex-grow: 0;}
    textarea {flex-grow: 1;}
  }
  .inputtext {width: 100%;}
  .btn.btn-solid-color1 { @include btn($bg-color1, $bg-color1, $text-white) }
  .btn.btn-solid-color1:hover { @include btn(#1d364b, #1d364b, $text-white) }
}
$email-height: 30px;
.contactform_email >* {display: inline;}
.contactform_email {height: 2* $email-height;}
.email {
  >*{display: block;}
  .icon-emailcontact svg {
    width: 170px;
    fill: $text-color2;
    transition: $transition;
  }
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -5px;
  margin: 0 5px;
  text-align: center;
}
.email:hover {
  .icon-emailcontact svg {fill: $text-color2-hover}
}
.email_popover {
  >* {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: $bg-grey;
    padding: 0 7px;
    border-radius: 7px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.5);
    height: 100%;
    transition: $transition;
  }
  >*:first-child {margin-right: 7px;}
  >*:hover {background: $bg-grey-hover;}
  textarea {display: none;}
}
.popover-default {
  height: $email-height;
  position: relative;
  transition: $transition;
}
.popover-open {
  opacity: 1;
  top: -2px;
  height: $email-height;
  margin-bottom: -$email-height;
}
.popover-close {
  opacity: 0;
  top: -$email-height;
  height: 0;
  margin-bottom: 0;
  pointer-events: none;
  touch-action: none;
  >* {
    pointer-events: none;
    touch-action: none;
  }
}
.copybtn_content {
  transition: $transition;
  position: relative;
  width: 30px;
  .icon-check svg {
    height: 18px;
    fill: $bg-color2;
  }
}
.copybtn_content:last-child {
  left: -30px;
  margin-right: -30px;
}
.copybtn_content-show {opacity: 1;}
.copybtn_content-hide {opacity: 0;}
/*
.frontpage-section {
  background: $bg-gradient1;
  overflow: visible;
  .frontpage-section_col {
    width: 40vw;
    height: 300px;
    min-width: 280px;
  }
  .image-background {
    height: 100%;
    width: 100%;
    background-size: contain;
    position: relative;
    top: -50px;
  }
}*/
.frontpage-section:nth-child(even) {
  background: $bg-gradient-white;
  .row { flex-direction: row-reverse; }
  h4, .content { color: $text-color1 }
  .btn { @include btn(transparent, $bg-color1, $bg-color1) }
  .btn:hover { @include btn($bg-color1, $bg-color1, $text-white) }
}
.section-letushelp {
  background: $bg-gradient2;
  .letushelp_col {
    padding-top: 25px;
    padding-bottom: 25px;
    > div {
      background-color: $text-color2-light;
      height: 100%;
      text-align: center;
      border-radius: $border-radius;
      padding: 40px;
    }
    h5 { text-transform: uppercase; }
    .image-background {
      background-size: contain;
      height: 180px;
      width: 50%;
      margin: 20px auto;
    }
  }
}
/* ---------- Contacts Page ----------- */
.contact-link {
  font-weight: 700;
}
.contact-page_invisible-input {
  display: none;
}
/* ------------ Careers Page ------------*/
.career_lookingfor .image-background {
  height: 70px;
  background-size: contain;
  margin-bottom: 30px;
}
/* ------------ Internship Page ------------ */
.footer-intern { margin-bottom: -2px; }
.internship-program {
  padding: 20px;
}
.internship-program a {
  .image-background {
    padding: 68px 0 40px 0;
    background-color: #2d506d;
    color: white;
    height: 200px;
    border-radius : $border-radius;
    opacity: 0.5;
  }
  .read-details { opacity: 0; padding-left: 15px; }
  .program-list-container {
    position: relative;
  }
  .program-list-container:hover {
    transition: $transition;
    .image-background {
      opacity: 0.2;
      transition: $transition;
    }
    .read-details {
      opacity: 1;
      z-index: 5;
      color: $text-color2;
      font-weight: bold;
      transition: $transition;
    }
  }
  .content-program {
    position: absolute;
    z-index: 5;
    width: 100%;
    margin-top: 70px;
    h4 {
      color: $text-white;
      padding-left: 20px;
      padding-top: 10px;
    }
  }
}
.looking-for {
  h3, h6 {
    color: $text-white;
  }
}
.icon-title {
  padding-top: 25px;
}
.footer-title {
  background: linear-gradient(#149992, #14918a);
  margin-bottom: -1px;
  padding: 30px 60px 20px 60px;
  text-align: center;
  a{
    font-weight: $font-weight-bold;
    padding-left: 5px;
  }
  a:hover{
    font-weight: $font-weight-bold;
    color: $text-white;
  }
  p { color: $text-white ;}
}
.team-benefits {
  padding: 10px 30px;
}
.program-text-title {
  margin: 0 auto;
}

/* ---------- Portfolio Page ----------- */

.page-ourwork .page-content-container {
  z-index: 0;
}
.page-ourwork .section-header {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: $section-header-height + 20px;
  height: 110px;
  margin-top: -2px;
}
.ourwork_section-header {
  clip-path: none;
}
.ourwork_section-header-content {
  background: transparent;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: $section-header-height - 90px;
  padding-top: $header-height;
}
/* Portfolio Nav */
.page-ourwork_nav {
  background: transparent;
  margin-top: 10px;
  width: 100%;
  padding: 0;
  justify-content: center;
  height: auto;
  input {
    width: 250px;
  }
  .nav-icon {
    width: 250px;
    * { display: inline-block; }
    h6 {
      color: $text-white;
      text-transform: uppercase;
    }
    .icon {
      transition: $transition;
      height: 20px;
      width: 20px;
      margin-left: 5px;
      svg {
        height: 20px;
        width: 20px;
      }
    }
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    a {
      text-transform: uppercase;
      padding: 0;
    }
    a.current {
      font-weight: $font-weight-bold;
      text-shadow: $text-shadow;
    }
  }
}
.nav input:checked ~ .nav-icon-arrow .icon {
  transform: rotate(180deg) translate(0, -5px);
}
.page-ourwork .buffer {
  height: $section-header-height;
  width: 100%;
}
.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  transition: $transition;
  h3 { margin-bottom: 30px; }
}
.section-portfolio:nth-child(even) { background-color: $bg-grey; }
.port_img-container {
  text-align: center;
  margin-bottom: 30px;
  justify-content: space-around;
  align-items: center;
}
.scroll-long { transition: all 15s; }
.scroll-25 .scroll-long { transition: all 25s; }
.scroll-30 .scroll-long { transition: all 30s; }

/* Download Port btn */
.downloadport-btn {
  position: fixed;
  right: 35px;
  bottom: 35px;
  z-index: 99;
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.4);
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}
.downloadport-popup {
  .btn, .input-default {
    margin: 5px;
    height: 44px;
  }
  .popup-close-btn {@include btn(rgb(170, 170, 170),rgb(170, 170, 170),$text-white)}
  .popup-close-btn:hover {@include btn(grey,grey,$text-white)}
  .popup-backing {background: transparent;}
  .popup {
    position: absolute;
    right: 24px;
    bottom: 30px;
    >* {
      display: inline-block;
      vertical-align: bottom;
    }
  }
  .downloadport-form {
    display: flex;
    justify-content: space-between;
    >* {
      flex-grow: 1;
      flex-shrink: 0;
    }
    >input {flex-shrink: 1;}
  }
}
.downloadport-popup.popup-open .popup {box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);}
@mixin portitem-hide() {
  transform: scale(0);
  // overflow: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}
@mixin portitem-show() {
  transform: scale(1);
  // overflow: auto;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  opacity: 1;
}
.nav a:not(.logo-link):not(.btn).port-filter.selected::after {width: 35px;}
.port-all {
  .item-all,
  .item-ai,
  .item-appsandplatforms,
  .item-design,
  .item-other {@include portitem-show()}
}
.port-ai {
  .item-appsandplatforms,
  .item-design,
  .item-other {@include portitem-hide()}
  .item-ai {@include portitem-show()}
}
.port-appsandplatforms {
  .item-ai,
  .item-design,
  .item-other {@include portitem-hide()}
  .item-appsandplatforms {@include portitem-show()}
}
.port-design {
  .item-ai,
  .item-appsandplatforms,
  .item-other {@include portitem-hide()}
  .item-design {@include portitem-show()}
}
.port-other {
  .item-ai,
  .item-appsandplatforms,
  .item-design {@include portitem-hide()}
  .item-other {@include portitem-show()}
}
/* Default portimg-container style */
.portimg-container {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  transition: $transition;
  > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .portimg {
    width: 100%;
    .portimg_scroll {
      height: 0;
      width: 100%;
      max-width: unset;
      background-color: grey;
      background-position: top;
    }
  }
  .portimg-stand {
    display: none;
  }
}
/* Desktop portimg-container style */
.desktop .portimg-container {
  .portimg {
    .portimg_frame {
      background: black;
      padding: 4%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .portimg_scroll {
      padding-bottom: 57%;
    }
    .portimg_frame-after {
      width: 100%;
      height: 0;
      padding-bottom: 8%;
      background: linear-gradient( -30deg, #e0e1e3, #a3a4a9 );
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  .portimg-stand {
    background-repeat: no-repeat;
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 24%;
    background-size: contain;
    background-position: top;
    margin-top: -1.5px;
  }
 }
/* Phone Portrait portimg-container style */
.phone-portrait {
  max-width: 300px;
  margin: auto;
  .portimg-container {
    .portimg {
      .portimg_frame {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: #D9D9D9;
        border: solid 2px #C4C4C4;
        padding: 11% 3% 16% 3%;
        border-radius: 30px;
      }
      .portimg_scroll {
        padding-bottom: 175%;
        border: $border-default #C4C4C4;
      }
      .portimg_scroll-before {
        width: 30%;
        height: 2.5px;
        background: #c4c4c4;
        margin-bottom: 5%;
      }
    }
  }
}
/* Phone Landscape portimg-container style */
.phone-landscape .portimg-container {
  .portimg {
    .portimg_scroll {
      padding-bottom: 50%;
      border: $border-default #C4C4C4;
    }
    .portimg_scroll-before {
      width: 1%;
      height: 20px;
      //min-height: 50px;
      background: #c4c4c4;
      margin: 0;
      margin-right: 5%;
    }
    .portimg_frame {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background: #D9D9D9;
      border: solid 2px #C4C4C4;
      padding: 2% 10% 2% 6%;
      border-radius: 30px;
    }
  }
}
/* Phone Black */
.phone-black .portimg-container {
  .portimg {
    .portimg_scroll { border: $border-default rgb(46, 46, 46); }
    .portimg_scroll-before { background: rgb(46, 46, 46); }
    .portimg_frame {
      background: rgb(0, 0, 0);
      border: solid 2px rgb(46, 46, 46);;
    }
  }
}
/* Tablet Landscape portimg-container style */
.tablet-landscape .portimg-container {
  .portimg {
    .portimg_scroll {
      padding-bottom: 65%;
      //border: $border-default #686163;
    }
    .portimg_scroll-before {
      width: 1%;
      height: 30%;
      min-height: 30px;
      background: #686163;
      margin: 0;
      margin-right: 2%;
    }
    .portimg_frame {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background: #231F20;
      //border: solid 4px #686163;
      padding: 2% 6% 2% 4%;
      border-radius: 30px;
    }
  }
}

.portimg-container::after {
  content: "";
  display: block;
  width: 120%;
  margin-left: -10%;
  margin-top: 3%;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  filter: blur(10px);
  border-radius: 50%;
  opacity: 0;
  transition: $transition;
}
.desktop .portimg-container::after {
  margin: auto;
  margin-top: -70px;
  width: 70%;
}
.portimg-container:hover {
  width: 95%;
  .scroll-long { background-position: bottom; }
}
.port-no-scroll .portimg-container:hover {
  .scroll-long { background-position: top; }
}
.portimg-container:hover::after { opacity: 1; }

/* adjust proportion of each project img*/
.portimg-adsoup-phone .portimg-container .portimg .portimg_scroll { padding-bottom: 178%; }
.portimg-adsoup-desktop .portimg-container .portimg .portimg_scroll { padding-bottom: 56%; }
.portimg-eventcomet-phone .portimg-container .portimg .portimg_scroll { padding-bottom: 178%; }
.portimg-mintcrowd-phone .portimg-container .portimg .portimg_scroll { padding-bottom: 170%; }
.portimg-ketawa-desktop .portimg-container .portimg .portimg_scroll { padding-bottom: 56%; }
.portimg-copanel-desktop .portimg-container .portimg .portimg_scroll { padding-bottom: 56%; }
.portimg-kikii-phone .portimg-container .portimg .portimg_scroll { padding-bottom: 58%; }
.portimg-cvrl-phone .portimg-container .portimg .portimg_scroll { padding-bottom: 46%; }

.port_icon-container {
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
}
.tech-icon {
  background: radial-gradient(#2d506d, #1b4059);
  width: 50px;
  height: 50px;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 3px;
  h6 {
    color: $text-white;
    text-transform: uppercase;
    font-size: 8px;
    margin: 0 auto;
    text-align: center;
  }
  .icon {
    max-width: 40px;
    max-height: 40px;
  }
  .image-background {
    width: 35px;
    height: 35px;
    background-size: contain;
  }
}
.tech-icon-color2 {
  background: radial-gradient(#52c4bb , #14918a);
}
.tech-icon-text-big h6 {
  font-size: 14px;
}
.tech-icon-color2-text-big {
  background: radial-gradient(#52c4bb , #14918a);
  h6 { font-size: 14px !important; }
}
.port_btn-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-height: 130px;
}
.port_btn {
  margin: 5px;
  flex-grow: 1;
  max-height: 40px;
  position: relative;
  bottom: -0.3em;
}
.port_btn-container .btn-line-color1 {
  max-width: 280px;
  margin-right: 3px;
  margin-left: 3px;
  flex: 1;
}
.port_link_text {
  border: none;
  text-align: right;
  color: $bg-color1;
  cursor: default;
}
.port_link_text:hover {
  color: $bg-color1;
  cursor: default;
}
.port_btn .image-background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  max-width: 140px;
  display: block;
  position: relative;
  margin: 5px auto -2em auto;
}

.btn-google-play, .btn-app-store, .btn-mi-store {
  border: none;
  padding: 0;
  bottom: 0;
}

/* ------------------------------------ RESPONSIVE --------------------------------------*/

/* -------- Big Desktops --------*/
@media only screen
and (min-width: 1800px) {}

/* -------- Tablets Landscape & Small Desktops ---------*/
@media only screen
and (max-width: 1200px) {
  /* Small Desktop Portfolio */
  .phone-landscape, .phone-portrait, .tablet-landscape {
    .portimg-container .portimg {
      .portimg_frame {
        border-radius: 18px;
        border-width: 1px;
      }
      .portimg_scroll { border-width: 1px; }
    }
  }
  .phone-portrait {
    max-width: 200px;
  }
  .page-home .nav {background: transparent;}
}

@media only screen
and (max-width: 992px) {
  .hidden-md-down {display: none;}
  .hidden-lg-up {display: inline;}
  .page-ourwork_nav.nav a:not(.btn):hover::after {
    width: 14px;
  }
  .nav a:not(.logo-link):not(.btn).port-filter.selected::after {width: 14px;}
}

/* -------- Tablets Portrait ---------*/
@media only screen
and (max-width: 768px) {
  /* Tablet Nav*/
  .page-home {
    .nav {background: #23a399d9;}
    // .nav-container {background: $bg-color2;}
  }
  .nav a:not(.logo-link) {
    padding: 7px 10px;
  }
  .nav-container .link:first-child {display: none;}
  .page-ourwork_nav {
    .nav-icon {
    display: inline-block;
    }
    .nav-container {
      position: absolute;
      width: 100vw;
      left: 0;
      box-sizing: border-box;
      text-align: center;
      height: 0;
      margin-top: 0;
      background: $bg-color1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: $header-height;
      pointer-events: none;
      z-index: 99;
      opacity: 0;
      a {
        width: 100vw;
      }
    }
    input:checked {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 90;
      position: absolute;
    }
    input:checked ~ .nav-container {
      height: 250px;
      pointer-events: initial;
      box-shadow: 2px 2px 12px 0px #cecece;
      box-shadow: 2px 10px 12px 0px rgba(0,0,0,0.2);
      opacity: 1;
    }
  }

  /*Tablet - Home Page*/
  .hero {
    height: 60vh;
    h1 { font-size: 2rem }
    .container { margin: auto; }
  }
  .frontpage-section {
    .image-background {
      background-position: center;
    }
  }
  .section-letushelp .col-sm-4 > div {
    padding: 20px;
  }
  /* Tablet Portfolio */
  .page-ourwork_nav .nav-container {
    background: $bg-color1;
    z-index: 99;
    position: absolute;
    top: $section-header-height;
    width: unset;
    padding: 30px 0;
  }
  .desktop .portimg-container .portimg {
    .portimg_frame {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .portimg_frame-after {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
  .phone-landscape, .phone-portrait, .tablet-landscape {
    .portimg-container .portimg {
      .portimg_frame {
        border-radius: 15px;
        border-width: 1px;
      }
      .portimg_scroll { border-width: 1px; }
    }
  }
  .desktop .portimg-container::after {
    margin-top: -50px;
  }
  .port_btn-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .port_btn:last-child {
    background-position: right;
    &:before {
      background-position: right;
      margin-right: 0;
    }
  }
  .port_btn:first-child {
    text-align: left;
    &:before {
      background-position: left;
      margin-left: 0;
    }
  }
  .port_btn-container .btn-line-color1 { text-align: center; }
  .port_btn-container .btn-line-color1 {
    max-width: unset;
    // margin-right: auto;
    // margin-left: auto;
  }
  .port_btn-container .port_link_text {
    text-align: center;
  }
}

/* -------- Phones ---------*/
@media only screen
and (max-width: 576px) {
  /*Tablet - Home Page*/
  .hero {
    .dots {
      bottom: 25px;
    }
  }
  .team-benefits {
    padding: 15px 10px;
  }
  /* Phone - Portfolio Page */
  .port_img-container {
    .port_img {
      height: 180px;
    }
  }
  .section-portfolio {
    h2 { font-size: 1.6rem;}
  }
  /* Phone Portfolio */
  .phone-landscape, .tablet-landscape { padding: 0; }
  .desktop .portimg-container .portimg {
    .portimg_frame {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .portimg_frame-after {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  .phone-landscape, .phone-portrait, .tablet-landscape {
    .portimg-container .portimg {
      .portimg_frame {
        border-radius: 9px;
        border-width: 1px;
      }
      .portimg_scroll { border-width: 0.5px; }
    }
  }
  .port_btn-container {
    text-align: left;
    align-items: center;
  }
  .btn-google-play, .btn-app-store, .btn-mi-store {
    border: none;
    padding: 0;
  }
  // .btn-google-play::before, .btn-app-store::before, .btn-mi-store::before {
  //   height: 80px;
  //   width: 100%;
  //   margin-bottom: -20px;
  // }
  // .port_btn {
  //   width: 100%;
  // }
  .phone-portrait {
    max-width: 150px;
  }
  .desktop .portimg-container::after {
    margin-top: -20px;
  }
  .buildyouridea-popup {
    .popup-content {
      flex-direction: row;
      >*{width: 100%;}
    }
  }
}

/* -------- Small Phones ---------*/
@media only screen
and (max-width: 400px) {
  .internship-program a .content-program h4 {
    padding-left: 10px;
    font-size: 16px;
  }
  .ul-li-padding-none {
    padding: 15px 0 !important;
  }
  .ourwork_section-header-content {
    h1 { font-size: 2rem; }
  }
  .nav-icon-arrow {
    h6 { font-size: 0.8rem; }
  }
  /* Small Phone Port */
  .phone-portrait { padding: 0; }
  .page-ourwork_nav > h3 {
    width: 100%;
    text-align: center;
  }
  .page-ourwork .ourwork_section-header {height: 150px;}
}

/* --------- Iphone4 ------------*/
@media only screen
and (max-width: 350px) {
  .port_btn, .port_btn:last-child {
    background-position: left;
    &:before {
      background-position: left;
      margin-left: 0;
    }
  }
}